.signup{
    position: relative;
    width: 90%;
    max-width: 120rem;
    background-color: black;
    padding: 2.5rem 2rem 4rem;
    margin: 3rem auto 5rem;
    color: #fff;
    text-align: center;

    h4{
        margin-bottom: 2.5rem;
        font-size: 2.6rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &-container{
        width: 90%;
        max-width: 80rem;
        margin: 0 auto;

        input{
            padding: 1rem;
        }
        input[type="email"]{
            width: 90%;
            outline: none;
            border: none;
        }
        input[type="submit"] {
            width: 90%;
            margin-top: 1rem;
            outline: none;
            border: none;
            background: #afafaf;
            text-transform: uppercase;
            font-weight: 400;
            cursor: pointer;

            &:hover{
                background: darken(#afafaf, 40);
                color: #afafaf;
            }
        }
    }
    @media screen and (min-width: 720px){

        input[type="email"]{
            width: 80%;
        }
        input[type="submit"]{
            width: 20%;
            margin-top: 0rem; 
        }
    }
}