.product-filter{
    position: relative;
    text-align: center;
    text-align: center;

    form{
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 5rem 0;
        // margin-bottom: 2rem;

        p{
            font-weight: 500;
        }
    }

    .filter-group{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }
}