.product-filter{
    position: relative;
    text-align: center;
    text-align: center;

    form{
        display: flex;
        align-items: center;
        gap: 4rem;
        padding: 5rem 0;
        flex-direction: column;

        p{
            font-weight: 500;
        }
    }

    .filter-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &__item{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
        }
    }

    @media screen and(min-width: 720px) {
        form{
            flex-direction: row;
        }
    }
}