.cart-page__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 4rem;
    gap: 5rem;
    flex-wrap: wrap;
}

.cart-summary{
    color: #fff;
    width: 100%;
    min-width: 250px;
    padding: 4rem 3rem;
    background: #303030;

    &__header{
        position: relative;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    &__sub{
        font-weight: 400;
        font-size: 1.5rem;
    }
    &__details{
        position: relative;
        margin-bottom: 4rem;

        li{
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: .3rem;

            strong{
                font-size: 1.2rem;
                font-weight: 400;
                padding-right: 10px;
            }
        }
    }

    &__card{
        display: flex;
        gap: 3rem;
        width: 100%;
        margin: 3rem 0;

        li{
            width: 49%;
        }
        button{
            width: 100%;
            padding: .7rem 1.3rem;
        }
    }

    &__button{
        position: relative;
        width: 100%;
        padding: 1rem;
        border: none;
        background: #ED1C24;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }

    @media screen and(min-width: 720px) {
        width: 30%;
        // position: fixed;
        // right: 4%;
    }
}
.empty-cart{
    position: relative;
    text-align: center;
    height: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title{
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    p{
        color: #888;
        margin: 1rem auto 2rem;
    }

    a{
        position: relative;
        padding: 1rem 2rem;
        background: #ED1C24;
        width: 50%;
        max-width: 20rem;
        color: #fff;
        margin: 0 auto;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }
}